<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.james.dao.CustomerMapper">
    <!--SQL片段  -->
    <sql id="selectCustomerListWhere">
        <where>
            <if test="custName != null" >
                cust_name like "%"#{custName}"%"
            </if>
            <if test="custSource != null" >
                and cust_source = #{custSource}
            </if>
            <if test="custIndustry != null" >
                and cust_industry = #{custIndustry}
            </if>
            <if test="custLevel != null" >
                and cust_level = #{custLevel}
            </if>
        </where>
    </sql>
    <!-- 查询客户列表  -->
    <select id="findCustomers" parameterType="customer"
            resultType="customer">
        SELECT
        cust_id,
        cust_name,
        cust_user_id,
        cust_create_id,
        b.dict_item_name cust_source,
        c.dict_item_name cust_industry,
        d.dict_item_name cust_level,
        cust_linkman,
        cust_phone,
        cust_mobile,
        cust_createtime
        FROM
        customer a
        LEFT JOIN (
        SELECT
        dict_id,
        dict_item_name
        FROM
        base_dict
        WHERE
        dict_type_code = '002'
        ) b ON a.cust_source = b.dict_id
        LEFT JOIN (
        SELECT
        dict_id,
        dict_item_name
        FROM
        base_dict
        WHERE
        dict_type_code = '001'
        ) c ON a.cust_industry = c.dict_id
        LEFT JOIN (
        SELECT
        dict_id,
        dict_item_name
        FROM
        base_dict
        WHERE
        dict_type_code = '006'
        ) d ON a.cust_level = d.dict_id
        <!--<include refid="selectCustomerListWhere"/>-->
    </select>
</mapper>