<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
			    http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--引入dao层配置文件-->
    <import resource="classpath:applicationContext-dao/application-daoContext.xml"/>
    <!--引入service层配置文件-->
    <import resource="classpath:applicationContext-service/applicationContext-service.xml"/>
    <import resource="classpath:shiro/shiro.xml"/>


</beans>